{{define "content"}}

<main>
  <section>
    <article>
      <hgroup>
        <h1>Go web app template</h1>
        <p>go • gin • air • live-reload • picocssv2 • htmx • docker</p>
      </hgroup>
      <p>
        This is a template for creating web application with Go
      </p>

      <h2>Tools & techniques used</h2>
      <table class="striped">
        <thead>
          <tr>
            <th>Tool</th>
            <th>Description</th>
            <th>Website</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Go</td>
            <td>Programming language</td>
            <td><a href='https://go.dev/'>https://go.dev/</a></td>
          </tr>
          <tr>
            <td>gin</td>
            <td>Web framework for golang</td>
            <td>
              <a href="https://github.com/gin-gonic/gin">https://github.com/gin-gonic/gin</a>
            </td>
          </tr>
          <tr>
            <td>Air</td>
            <td>Live reload for Go apps. Filewatchers that recompile project and re-run it when file changes</td>
            <td><a href='https://github.com/cosmtrek/air'>https://github.com/cosmtrek/air</a></td>
          </tr>
          <tr>
            <td>Live reload</td>
            <td>Homebaked solution for live reloading client browser on recompilation from Air</td>
            <td>
              ./cmd/livereload/main.go
            </td>
          </tr>
          <tr>
            <td>Pico CSS</td>
            <td>Effortless styling without classes</td>
            <td><a href='https://picocss.com/'>https://picocss.com/</a></td>
          </tr>
          <tr>
            <td>htmx</td>
            <td>Effortless js functionality using html tags</td>
            <td><a href='https://htmx.org/'>https://htmx.org/</a></td>
          </tr>
          <tr>
            <td>docker</td>
            <td>Your trusty container friend</td>
            <td><a href='https://www.docker.com/'>https://www.docker.com/</a></td>
          </tr>
        </tbody>
      </table>
    </article>
  </section>
</main>

{{end}}